.Hero {
  display: flex;
  height: 70vh;
  background: linear-gradient(180deg, #fed1ff, #e1ffea22 60%);
  flex-direction: row;
}
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: auto;
  margin-bottom: auto;
}
.hero-left img {
  width: 80px;
  height: 80px;
}
.new {
  display: flex;
  align-items: center;
}

.hero-left h2 {
  font-size: 20px;
}

.collection {
  display: flex;
  width: 210px;
  gap: 10px;
  height: 40px;
  padding-left: 20px;
  border-radius: 25px;
  align-items: center;
  background-color: red;
}
.collection img:hover {
  margin-left: 20px;
}
.collection img {
  width: 30px;
  transition: 0.5s;
  height: 20px;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}
.hero-right img {
  height: 70vh;
}
.fonts {
  font-size: 50px;
  font-weight: bold;
}
